<section class="action">
  <div class="container">
    <div class="action-text">
      <h1>Call to action! It's time!</h1>
      <p>
        Sign up for our product by clicking that button right over there!
      </p>
    </div>
    <button class="action-btn">Sign up</button>
  </div>
</section>