<section class="bg-slate-200 px-4 py-16">
  <div class="mx-auto max-w-[750px]">
    <blockquote class="mb-4 text-[34px] font-light italic text-stone-700">
      This is an inspiring quote, or a testimonial from a customer. Maybe it's
      just filling up space, or maybe people will actually read it. Who knows?
      All I know is that it looks nice.
    </blockquote>
    <p class="text-right text-lg font-bold">-Thor, God of Thunder</p>
  </div>
</section>